.logo {
    width: 160px;
    height: 160px;
    margin-left: -45px;
    margin-top: -51px;
}
header {
    background-color: black;
    width: 100%;
    height: 70px;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;

}
header > p > a {
    color: antiquewhite;
    text-decoration: none;
    font-size: 40px;
    
}
.menu {
    margin-left: 90px;
    margin-top: -110px;
    
}
.menu1 {
    text-decoration: none;
    color: aliceblue;
    font-size: 30px;
    padding: 16px;
}
div.background {
    min-height: 400px;
    min-width: 100%;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 67px;
    background-image: url(resource/1617603329_40-p-fon-rossiiskii-flag-43.jpg);
}

.h1q {
    font-size: 40px;
    color: rgb(255, 0, 0);
    text-align: center;
}
.first {
    width: 100%;
    height: 45px;
    margin-top: 163px;
}
.h1q1 {
    font-size: 30px;
    color: rgb(203, 204, 207);
    text-align: center;
}
 h1 {
    color: rgb(238, 236, 236);
    
}
body {
    background-color: black;
}
div.socseti {
    min-height: 400px;
    min-width: 100%;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 67px;
    background-color: rgba(118, 172, 204, 0.938);
}
div.socseti > h1 {
    margin-left: 42px;
    color:brown;
    justify-content:left ;
}
div.app {
    width: 300px;
    height: 20px;
}
figcaption {
    text-align: center;
    font-size: 20px;
    color: rgb(153, 7, 197);
}